APP_NAME="Obliji Tasks API"
APP_ENV=production
APP_KEY=base64:2a0svBBijGD49E6daeQ7D0WId9qdD72P6uaYUhIjb2Y=
APP_DEBUG=false
APP_URL=https://obliji.onrender.com

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_URL=postgresql://neondb_owner:npg_rw8ymQtiD7gS@ep-divine-truth-a5szk51x-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
DB_SSLMODE=require

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120