APP_NAME="Obliji Tasks API"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://obliji.onrender.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=ep-divine-truth-a5szk51x-pooler.us-east-2.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_rw8ymQtiD7gs
DB_SSLMODE=require

# Option alternative complète (avec pooling et channel binding) :
DATABASE_URL=postgresql://neondb_owner:npg_rw8ymQtiD7gs@ep-divine-truth-a5szk51x-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=
